.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.venv/

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled C extensions
*.so
